@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body{
  // background-color: #FAFAFA;
  background-color: #ECF0F1;
  // font-family: 'Roboto', 'nanumgothic', sans-serif;
  font-family: 'Indie Flower', cursive;
}

.row {
  margin: 0;
}

.icon {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
}
.image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
}

.header {
  z-index: 1002;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0 7rem;
  position: absolute;
  top: 0;
  left: 0;
}

.header .header-logo {
  float: left;
  color: #2C3E50;
}

.header .header-menu {
  float: right;
}

.header .header-menu .btn-default{
  color: #2C3E50;
  background: transparent;
}
.header .header-menu .btn-default:hover{
  color: #2C3E50;
}

.header .header-menu .btn-default:focus{
  background: transparent;
}

.landing {
  margin-bottom: 7rem;
}

.landing-header {
  z-index: 1000;
  width: 100%;
  height: 700px;
  min-height: 300px;
  position: relative;
  margin-bottom: 3.5rem;
  color: #2C3E50;
}

/*백그라운드 darken style*/
/*.landing-header:after {
  content: '\A';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.2);
  opacity: 1;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}*/

.landing-header-desc {
  z-index: 1001;
  position: relative;
  padding-top: 17.5rem;
  margin: 0;
  color: #2C3E50;
  // text-shadow: 1px 0 2px #949494;
}

.landing-header-desc span{
  display: block;
  font-size: 8rem;
  // font-family: 'Pacifico', cursive;
  margin-bottom: 3.5rem;
}

.landing-body {
  margin: 7rem;
}

.landing-body .icon {
  width: 150px;
  height: 150px;
  display: inline-block;
  margin-right: 2rem;
  float: left;
  display: inline-block;
}

.landing-body .item {
  display: inline-block;
  padding-bottom: 7rem;
}

// .landing-body .item:nth-child(2) {
//   border-left: 1px solid #eee;
//   border-right: 1px solid #eee;
// }

@media screen and (max-width: 990px) {
  .landing-body {
    margin: 0;
  }
  // .landing-body .item:nth-child(2n) {
  //   border-top: 1px solid #eee;
  //   border-bottom: 1px solid #eee;
  //   border-left: 0;
  //   border-right: 0;
  // }
}
@media screen and (max-width: 480px) {
  .landing-body {
    margin: 0;
  }


  .landing-header-desc{
    padding-top: 21rem;
  }

  .landing-header-desc span{
    font-size: 4rem;
  }

  // .landing-body .item:nth-child(2n) {
  //   border-top: 1px solid #eee;
  //   border-bottom: 1px solid #eee;
  //   border-left: 0;
  //   border-right: 0;
  // }
}