@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body{
  background-color: #ECF0F1;
  font-family: 'Indie Flower', cursive;
  color: #2C3E50;
}

.row {
  margin: 0;
}

.icon {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
}
.image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
}

.btn-default{
  color: #3498DB;
  background: #ECF0F1;
  border: none;
}
.btn-default:hover{
  color: #2C3E50;
  background: #ECF0F1;
}
.btn-default:focus{
  color: #3498DB;
  background: #ECF0F1;
}

.landing {
  margin-bottom: 7rem;
}

.landing-header {
  background-color: #3498DB;
  z-index: 1000;
  width: 100%;
  position: relative;
  color: #ECF0F1;
}

.landing-header-desc {
  z-index: 1001;
  height: 100%;
  position: relative;
  padding-top: 14rem;
  margin: 0;
}

.landing-header-desc span{
  display: block;
  font-size: 8rem;
  margin-bottom: 3.5rem;
}

.landing-body {
  margin: 7em 0;
}

.landing-body .icon {
  width: 150px;
  height: 150px;
  display: inline-block;
  margin-right: 2rem;
  float: left;
  display: inline-block;
}

.landing-body .item {
  display: inline-block;
  padding-bottom: 7rem;
}

@media screen and (max-width: 480px) {
  .landing-header-desc{
    padding-top: 17.5rem;
  }

  .landing-header-desc span{
    font-size: 7rem;
  }
}