{% extends "layout.html" %}
{% block title %} 그룹만들기 {% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{{url_for('static', filename='js/group_make.js')}}"></script>
{% endblock %}

{% block content %}
  <div class='row' style='padding-top: 5%;'>
    <div class='col-sm-4 col-sm-offset-4'>
      <form id='groupMakeForm' action="{{url_for('group')}}" method='POST'>
        <div class='form-group text-center'>
          <h4>그룹 만들기</h4>
        </div>
        <div class='form-group'>
          <label>이름
            <i class='required'>*</i>
          </label>
          <input type='text' id='groupName' name='group_name' class='form-control' autofocus required />
        </div>
        <div class='form-group'>
          <label>그룹코드
            <i class='required'>*</i>
            <span class='text-muted'>(다른 회원이 가입시 입력할 코드를 입력하세요.)</span>
          </label>
          <input type='text' id='groupCode' name='group_code' class='form-control' required />
        </div>
        <div class='form-group'>
          <button type='submit' class='btn btn-default'>확인</button>
          <a href='/login' class='btn btn-default pull-right'>뒤로가기</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}