{% extends "layout.html" %}
{% block title %} 강아지 {% endblock %}

{% block scripts %}
  <!-- // <script type="text/javascript" src="{{url_for('static', filename='bower_components/fullcalendar/dist/lang-all.js')}}"></script> -->
  <script type="text/javascript" src="{{url_for('static', filename='bower_components/fullcalendar/dist/lang/ko.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/index.js')}}"></script>
{% endblock %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/index.css')}}">
{% endblock %}

{% block content %}
  <div class="modal fade" tabindex="-1" role="dialog" id='myModal'>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">이벤트 정보</h4>
        </div>
        <form class='form-horizontal' id='eventUpdate' action="{{url_for('events')}}" method='PUT'>
          <div class="modal-body row" style='padding: 20px 40px;'>
              <div class='form-group'>
                <label class='col-sm-2'>제목</label>
                <div class='col-sm-10'>
                  <input type='text' class='form-control' id='eventTitle' name='event_title' />
                </div>
              </div>
              <!-- <div class='form-group'>
                <label class='col-sm-2'>내용</label>
                <div class='col-sm-10'>
                  <textarea rows='4' class='form-control' id='eventContent' name='event_content' style="resize: none; wrap:hard;"></textarea>
                </div>
              </div> -->
              <div class='form-group'>
                <label class='col-sm-2'>시작</label>
                <div class='col-sm-10'>
                  <input type='text' class='form-control' id='eventStart' name='event_start' placeholder='YYYY-MM-DD HH:mm'/>
                </div>
              </div>
              <div class='form-group'>
                <label class='col-sm-2'>끝</label>
                <div class='col-sm-10'>
                  <input type='text' class='form-control' id='eventFinish' name='event_finish' placeholder='YYYY-MM-DD HH:mm' />
                </div>
              </div>
              <div class='form-group'>
                <label class='col-sm-2'>색깔</label>
                <div class='col-sm-10' id='eventUpdateColors'>
                  <input type='hidden' class='form-control' id='eventColor' name='event_color' />
                  <svg width='25' height='25'>
                    <rect width='25' height='25' style='fill: #F3016A; opacity: 0.3;' color='#F3016A' />
                  </svg>
                  <svg width='25' height='25'>
                    <rect width='25' height='25' style='fill: #08912A; opacity: 0.3;' color='#08912A' />
                  </svg>
                  <svg width='25' height='25'>
                    <rect width='25' height='25' style='fill: #FF4F2E; opacity: 0.3;' color='#FF4F2E' />
                  </svg>
                  <svg width='25' height='25'>
                    <rect width='25' height='25' style='fill: #FFC514; opacity: 0.3;' color='#FFC514' />
                  </svg>
                  <svg width='25' height='25'>
                    <rect width='25' height='25' style='fill: #062774; opacity: 0.3;' color='#062774' />
                  </svg>
                </div>
              </div>
              <div class='form-group'>
                <label class='col-sm-2'>링크</label>
                <div class='col-sm-10' id='eventUpdateLink'>
                  <a href="#" target="_blank">구글 캘린더에서 보기</a>
                </div>
              </div>
              <input type='hidden' class='form-control' id='eventId' name='event_id' />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
            <button type="submit" class="btn btn-primary">저장</button>
          </div>
        </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div class='row'>
    <div class='col-sm-7'>
      <div id='calendar'></div>
    </div>
    <div class='col-sm-5' style='height: 250px;'>
      <h1>오늘의 스케줄</h1>
      <table>
        <thead>
          <tr></tr>
          <tr></tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <div class='col-sm-5' style='height: 250px;'>
      <h1>채팅이 들어감</h1>
    </div>
    <!-- <div class='col-sm-12 text-center'>
      <p>{{ session.user }}</p>
      <p>{{ session.group }}</p>
      <p>{{ session.group_users }}</p>
      <a href="{{url_for('logout')}}">로그아웃</a>
    </div> -->
    <button id='getEvents'>이벤트가져오기</button>
  </div>
{% endblock %}