{% extends "layout.html" %}
{% block title %} 강아지 {% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{{url_for('static', filename='js/index.js')}}"></script>
{% endblock %}

{% block content %}
  <div class='row'>
    <div class='col-sm-7'>
      <div id='calendar'></div>
    </div>
    <div class='col-sm-5' style='height: 250px;'>
      <h1>오늘의 스케줄</h1>
    </div>
    <div class='col-sm-5' style='height: 250px;'>
      <h1>채팅이 들어감</h1>
    </div>
    <div class='col-sm-12 text-center'>
      <p>{{ session.user }}</p>
      <p>{{ session.group }}</p>
      <a href="{{url_for('logout')}}">로그아웃</a>
      <button id='getEvents'>이벤트가져오기</button>
    </div>
  </div>
{% endblock %}