<!DOCTYPE html>
<html>
  <head>
    <title>lending</title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='bower_components/sweetalert/dist/sweetalert.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/landing.css')}}">
  </head>
  <body>
    <div class="modal fade" tabindex="-1" role="dialog" id='signinPopup'>
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Sign in</h4>
          </div>
          <form id='signinForm' action="{{url_for('signin')}}" method='POST'>
            <div class="modal-body">
              <div class="form-group">
                <label>ID</label>
                <input type='text' id='id' name='id' class='form-control' required />
              </div>
              <div class="form-group">
                <label>PW</label>
                <input type='password' id='pw' name='pw' class='form-control' required />
              </div>
            </div>
            <div class="modal-footer">
              <div class='pull-left' style='line-height: 34px'>
                <a href='/signup'>Sing up</a>
              </div>
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class='landing'>
      <div class='header'>
        <div class='header-logo'>
          <strong>O.T.S</strong>
        </div>
        <div class='header-menu'>
          <!-- <a href="/signin" class="btn btn-default">
            Sign in
          </a> -->
          <button type="button" class="btn btn-default" data-toggle="modal" data-target="#signinPopup">
            Sign in
          </button>
        </div>
      </div>
      <div class='landing-header image' style="background-image: url('/static/images/landing_bg2.jpg')">
        <div class='landing-header-desc row'>
          <div class='col-lg-8 col-md-7 col-sm-7 text-center'>
            <span>
              Our Travel
              <br>
              Scheduler
            </span>
            <h2>O.T.S</h2>
          </div>
        </div>
      </div>
      <div class='landing-body'>
        <div class='row'>
          <!-- <h1 class='text-center'>Funtions</h1> -->
          <div class='col-md-6 col-sm-6 col-xs-12 item text-center'>
            <!-- <div class='image icon' style="background-image: url('/static/images/calendar_icon.png')"></div> -->
            <div class='item-description'>
              <h3>Schedule Calendar</h3>
              <span>
                You can add to travel schedule on calendar.
                <br>
                And share it with other people on the team.
              </span>
            </div>
          </div>
          <div class='col-md-6 col-sm-6 col-xs-12 item text-center'>
            <!-- <div class='image icon' style="background-image: url('/static/images/pencil_icon.png')"></div> -->
            <div class='item-description'>
              <h3>Write Travelogue</h3>
              <span>
                You write and upload images on the travelogue.
                <br>
                And share it with other people on the team.
              </span>
            </div>
          </div>
          <div class='col-md-12 col-sm-12 col-xs-12 item text-center'>
            <!-- <div class='image icon' style="background-image: url('/static/images/page_icon.png')"></div> -->
            <div class='item-description'>
              <h3>News</h3>
              <span>
                You can share only the tip of the tours to know you.
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% block popup %}{% endblock %}
    <script type="text/javascript" src="{{url_for('static', filename='bower_components/jquery/dist/jquery.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/signin.js')}}"></script>
    {% block script %}{% endblock %}
  </body>
</html>