<!DOCTYPE html>
<html>
  <head>
    <title>lending</title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='bower_components/sweetalert/dist/sweetalert.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/landing.css')}}">
  </head>
  <body>
    <div class='landing'>
      <div class='landing-header image' style="background-image: url('/static/images/landing_bg.jpg')">
        <div class='landing-header-desc text-center'>
          <span>Our Travels</span>
          <a href="/login">시작하기</a>
        </div>
      </div>
    </div>
    <!-- <div id='footer' class='footer'>
      <a href="mailto:enon.jeong@gmail.com">enon.jeong@gmail.com</a>
    </div> -->

    <script src="{{url_for('static', filename='bower_components/jquery/dist/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js')}}"></script>
  </body>
</html>