<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='bower_components/sweetalert/dist/sweetalert.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" type='text/css' href="{{url_for('static', filename='bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css')}}" />
    {% block styles %}{% endblock %}

  </head>
  <body>
    <header class='header' id='header' >
      <div class='row'>
        <div class='logo col-sm-3' id='logo'>
          {% if session.group %}
            <span>
              <a href='/'>
                {{ session.group.name }}
              </a>
            </span>
          {% else %}
            <span>
              <a href='/'>
                O.T.S
              </a>
            </span>
          {% endif %}
        </div>
      </div>
    </header>
    <article class='content'>
      {% block content %}
      {% endblock %}
    </article>

    <script type="text/javascript" src="{{url_for('static', filename='bower_components/jquery/dist/jquery.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='bower_components/sweetalert/dist/sweetalert.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='bower_components/moment/moment.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')}}"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>