<!DOCTYPE html>
<html>
  <head>
    <title>lending</title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{url_for('static', filename='bower_components/jquery/dist/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='bower_components/sweetalert/dist/sweetalert.css')}}">
  </head>
  <body>
    <div class='row'>
      <div class='col-sm-12 text-center'>
        <a href="/login">
          <h1>시작하기</h1>
        </a>
      </div>
    </div>
  </body>
</html>