<!DOCTYPE html>
<html>
  <head>
    <title>page_not_found</title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css')}}">
  </head>
  <body>
    <div class='row' style='margin-top: 10%;'>
      <div class='col-sm-12 text-center'>
        <h1>페이지를 찾을 수 없습니다...</h1>
        <h3>링크 주소를 다시 확인해주세요.</h3>
        <button onclick='window.history.back();' class='btn btn-default'>뒤로가기</button>
      </div>
    </div>
  </body>
</html>