{% extends "layout.html" %}
{% block title %} 강아지 {% endblock %}

{% block scripts %}
{% endblock %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/user.css')}}">
{% endblock %}

{% block content %}
  <div class='row' id='userBox'>
    <div class='col-sm-4'>
      <h4>{{ session.user.id }}</h4>
      <h4>{{ session.user.name }}</h4>
      <p>{{ session.user }}</p>
    </div>
    <div class='col-sm-8'>
      <p>{{ session.group_users }}</p>
    </div>
  </div>
{% endblock %}