{% extends "layout.html" %}
{% block title %} Users {% endblock %}

{% block scripts %}
{% endblock %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/user.css')}}">
{% endblock %}

{% block content %}
  <h4 class='main-title'>Setting</h4>
  <div class='bg-white'>
    <form>
      <div class='row'>
        <div class='col-sm-4 form-group'>
          <label>Name</label>
          <input type="text" class='form-control' name="name" value='{{session.user.name}}' />
        </div>
      </div>
    </form>
    <a href="{{url_for('logout')}}">로그아웃</a>
  </div>
{% endblock %}